.game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .over {
    border-radius: 50%;
    box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
      0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
  }
  .heading {
    font-size: 3em;
  }

  .tile-container {
    display: grid;
    grid-template-rows: 180px 180px;
    grid-template-columns: 180px 180px;
    grid-gap: 25px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .tile {
    cursor: pointer;
  }

  .tile-red {
    background-color: #ff7f50;
    box-shadow: 0 0 0 1px #dc6848 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c93a12,
      0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
    // border-radius: 100% 0 75% 100%/100% 100% 25% 0;
    border-radius: 75% 100% 100% 75%/75% 100% 75% 100%;
    // border-radius: 100% 0 0 100%/100% 100% 0 0;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
  }

  .tile-red:hover,
  .tile-red:focus {
    background-color: #ff5e23;
    box-shadow: 0 0 0 1px #ff3000 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #e62b00,
      0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
  }

  .tile-red:active,
  .tile-red.activated {
    box-shadow: 0 0 0 1px #ff5c36 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #ff5c36;
    transform: translateY(10px);
    box-shadow: -5px 0 40px #ffffff, 10px 0 80px #e62b00;
  }

  .tile-green {
    background-color: #66cdaa;
    box-shadow: 0 0 0 1px #267158 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #267158,
      0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
    border-radius: 100% 75% 100% 75%/100% 100% 0% 75%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
  }

  .tile-green:hover,
  .tile-green:focus {
    background-color: #00c583;
    box-shadow: 0 0 0 1px #267158 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #267158,
      0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
  }

  .tile-green:active,
  .tile-green.activated {
    box-shadow: 0 0 0 1px #00c583 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #369a79;
    transform: translateY(10px);
    box-shadow: -5px 0 40px #ffffff, 10px 0 80px #00c583;
  }

  .tile-yellow {
    background-color: #f6fe88;
    box-shadow: 0 0 0 1px #ffb900 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c28e07,
      0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    border-radius: 100% 0% 100% 0%/100% 25% 100% 50%;
  }

  .tile-yellow:hover,
  .tile-yellow:focus {
    background-color: #f3ff50;
    box-shadow: 0 0 0 1px #cc9a10 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c8a13e,
      0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.6);
  }

  .tile-yellow:active,
  .tile-yellow.activated {
    box-shadow: 0 0 0 1px #f3ff50 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #f3ff50;
    transform: translateY(10px);
    box-shadow: -5px 0 40px #ffffff, 10px 0 80px #f3ff50;
  }

  .tile-blue {
    background-color: #c4b8fe;
    box-shadow: 0 0 0 1px #786fa2 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #7d74a7,
      0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    border-radius: 25% 100% 50% 100%/0% 100% 0% 100%;
  }

  .tile-blue:hover,
  .tile-blue:focus {
    background-color: #9788e1;
    box-shadow: 0 0 0 1px #756ca4 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #6a609b,
      0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
  }

  .tile-blue:active,
  .tile-blue.activated {
    box-shadow: 0 0 0 1px #9788e1 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #9788e1;
    transform: translateY(10px);
    box-shadow: -5px 0 40px #ffffff, 10px 0 80px #9788e1;
  }

  .best-display {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    color: #ffffffc2;
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
  }
}
