.info {
  font-size: 70px;
  position: absolute;
  right: 45%;
  font-family: sand;
  top: 20%;

  .start-btn {
    position: relative;
    right: -28%;
    margin-top: 65px;
    height: 39px;
    padding: 45px 15px;
    color: #555;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 0.5;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: white;
    border-radius: 50px;
    /* border: 1px solid #bbb; */
    cursor: pointer;

    &:hover {
      color: #000000;
      border-color: #ffffff;
      outline: 0;
    }
  }
}
